body {
  background-color: #687864; }
  body .courses {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    body .courses .card {
      margin: 20px;
      background-color: #F7F9FB; }
      body .courses .card .card-body .teeType {
        display: flex;
        flex-direction: column;
        width: 50%; }
        body .courses .card .card-body .teeType button {
          background-color: #5085A5;
          margin: 20px; }
        body .courses .card .card-body .teeType button:hover {
          opacity: .5; }
  body .golfCard {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white; }
    body .golfCard .buttons {
      margin: 20px; }
      body .golfCard .buttons .playersButtons .addRemove {
        font-size: 35px;
        background: none;
        border: none;
        color: #8FC1E3; }
      body .golfCard .buttons .playersButtons .addRemove:hover {
        color: #5085A5; }
    body .golfCard .box {
      display: inline-flex;
      border: 2px solid;
      margin: 5px; }
      body .golfCard .box .column {
        border-right: 2px solid;
        min-width: 50px;
        text-align: center; }
        body .golfCard .box .column input {
          width: 100%; }
      body .golfCard .box .label {
        min-width: 80px; }

.btn-primary {
  background-color: #31708E;
  border: #31708E; }

.btn-primary:hover {
  background-color: #5085A5;
  border: #5085A5; }

.players {
  border-top: 2px solid;
  height: 38px; }

@media screen and (min-width: 1100px) {
  body .courses {
    flex-direction: row;
    align-items: center;
    min-height: 800px; }
    body .courses img {
      height: 300px; } }
